<section>
    <input type="search" 
          id="searchbox" placeholder="Search">
    <h2 class="h2">10 other quotes</h2>
    <ul>
      <li><h2>
        <%= data[1].text %>
      </h2>
      <p>~ <%= data[1].author %></p>
      </li>
      <li><h2>
        <%= data[2].text %>
      </h2>
      <p>~ <%= data[2].author %></p>
      </li>
      <li><h2>
        <%= data[3].text %>
      </h2>
      <p>~ <%= data[3].author %></p>
      </li>
      <li><h2>
        <%= data[4].text %>
      </h2>
      <p>~ <%= data[4].author %></p>
      </li>
      <li><h2>
        <%= data[5].text %>
      </h2>
      <p>~ <%= data[5].author %></p>
      </li>
      <li><h2>
        <%= data[6].text %>
      </h2>
      <p>~ <%= data[6].author %></p>
      </li>
      <li><h2>
        <%= data[7].text %>
      </h2>
      <p>~ <%= data[7].author %></p>
      </li>
      <li><h2>
        <%= data[8].text %>
      </h2>
      <p>~ <%= data[8].author %></p>
      </li>
      <li><h2>
        <%= data[9].text %>
      </h2>
      <p>~ <%= data[9].author %></p>
      </li>
      <li><h2>
        <%= data[10].text %>
      </h2>
      <p>~ <%= data[10].author %></p>
      </li>
    </ul>
  </section> 