<%- include('partials/header'); -%>

<main>
    <section>
      <figure>
      <h1>
        Quote
      </h1>
      <blockquote><%= quote.text %></blockquote>
      <figcaption>~ <% if(quote.author){  %>
        <%= quote.author %>
        <% }else{ %>
          Onbekend
        <% } %></figcaption>
      <ul>
      <li>
        <a href="http://127.0.0.1:3000">Previous quote</a>
    </li>
    <li>
      <a href="http://127.0.0.1:3000/random">Random quote</a>
      </li>
      <li>
        <a href="">Next quote</a>
      </li>
    </ul>
  </figure>
    </section>
      
    <%- include('listedquotes') -%>
  </main>
  <%- include('partials/footer'); -%>
