<%- include('partials/header'); -%>

<main>
    <section>
      <figure>
      <h1>
        Quote
      </h1>
      <blockquote><%= result.text %></blockquote>
      <figcaption>~ <% if(result.author){  %>
        <%= result.author %>
        <% }else{ %>
          Onbekend
        <% } %></figcaption>
      <%- include('buttons') -%>
  </figure>
    </section>
        
    <%- include('listedquotes') -%>
  </main>

  <%- include('partials/footer'); -%>
